.tree-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.node-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}