.app-tree {
    width: 100%;
    height: 100%;
    margin: 16px;
}

svg {
    overflow: visible;
    display: block;
    width: 100%;
    height: 100%;
}

.node-clickable:hover {
    cursor: pointer;
    r: 12;
}

.link-clickable:hover {
    cursor: pointer;
    stroke-width: 2px;
}