.history-container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 16px 0;
}

.history-title {
    margin-bottom: 16px;
}

.history-items-container {
    display: flex;
    flex-direction: column;
}

.history-item:not(:last-child) {
    margin-bottom: 8px;
}

.history-item:hover {
    color: dodgerblue;
    cursor: pointer;
}

.selected-item {
    color: dodgerblue;
}